@font-face {
    font-family: 'Croc';
    src: url('CoFoWeather20240219-VF.ttf');
}

body * {
    font-family: 'Croc', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}


body {
    margin: 0;
}